<header>
	<div>Logo</div>
	<nav>
		<ul>
			<li><a href="">Evénements</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">A propos</a></li>
		</ul>
	</nav>
	<div><img src="{{asset('images/profil_icon.png')}}" alt=""></div>
</header>
