<header>
	<div>Logo</div>
	<nav>
		<ul>
			<li><a href="{{path('main')}}">Evénements</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">A propos</a></li>
		</ul>
	</nav>
	<div><a href="{{path('app_login')}}"><img src="{{asset('images/profil_icon.png')}}" alt=""></a></div>
</header>